body
{
 background-color:#b0c4de;  /* blue */
 font-size:large;
}

#context {
	background-color: white;
	position: relative;
	top: 50px;
	left: 50px;
	width: 500px;
	height: 500px;
	border-style: solid;
	border-width: 1px;
}

#control {
	position: absolute;
	top: 500px;
	left: 600px;
}

#sourceArea {
	position: absolute;
	top: 50px;
	left: 600px;
}

#source {
	width: 500px;
	height: 400px;
	resize: none;
}