
body {
  font: small-caps 120%/200% serif;

font-family: cursive;

color: #A9F5D0;
  background: #A9F5D0 url("../css/images/2.jpg") no-repeat ;
  background-size: cover;
  background-position: center 0;
  background-attachment: fixed; 
  margin-left: 5%;
  margin-right: 5%;
}

#sourceArea
{
   font: small-caps 120%/200% serif;
   color: #FFFFFF;
    width: 100px;
   height: 400px;
   resize: none;
}

#control
{
    position: absolute;
 	
 	left: 700px;
}


#source{
        position: absolute;
	width: 500px;
 	height: 500px;
 	resize: none;
	border-style: solid;
 	border-width: 1px;
	top: 360px;
 	left: 650px;
}

#context {
 	background-color: white;
 	position: relative;
 	top: 50px;
 	left: 10px;
 	width: 500px;
 	height: 500px;
 	border-style: solid;
 	border-width: 1px;
}

#address{
  position: absolute;
  top: 400px;
}
error {
  color: $white;
  background-color: $red;
}

.centered {
  text-align: center;
}

#fileinput { 
  border:2px dotted #A9F5D0; 
  width:400px; 
  color:#92AAB0; 
  text-align:left;
   position: absolute;
  top: -60px;
  padding:10px 10px 10 10px; 
  margin-bottom:20px; 
  font-size:150%; } 
  
#entrada { 
  font: oblique 100% sans-serif bold; 
  
} 

h1 { 
  text-align: center; 
  font-size: 80px; 
  
} 

th, td { 
  vertical-align: top; 
  text-align: left; 
  
} 

#initialinput { 
  font: small-caps 120%/200% serif; 
  color: #FFFFFF; 
  background-color: #29088A; 
  
} 

#finaloutput { font: small-caps 80%/200% serif; color: #000000; }

